.page-title{
    margin: 0;
    text-align: center;
    padding: 2rem 0;
}

/*components styles*/
.main-container{
    background: #fafafa;
    border: 1px solid #eeeeee;
    border-radius:5px;
    padding:0;
    margin-bottom:1px;
}
.sub-container{
    width:80%;
    margin: 0 auto;
    /*border : 1px solid black;*/
}   
.sub-container table{
    /*border: 1px solid darkblue;*/
    margin: 0 auto 10px auto;
    padding: 5px;
    
}

.container__header{
    border-bottom: 1px solid #eeeeee;
    font-size: 20px;
    width:95%;
     text-align: right;
     margin:1rem;
    padding: 1rem;
}
.sciBtn{
    width:190px;
    height: 60px;
    margin:3px;
    font-size:16px;
}
.btnT{
    width: 60px;
    height:60px;
    margin:3px;
    font-size:16px;
}
.btn-Num{
    background: #778899;
    color: whitesmoke;
}
.btn-Num:hover{
    background: #708090;
    color: whitesmoke;
}
.btn-Op{
    background: #20b2aa;
    color: whitesmoke;
}
.btn-Op:hover{
    background: #22c3bb;
    color:whitesmoke;
}